# Node Modules
node_modules

# Snapshots & Coverage Files
__tests__/__snapshots__/
!__tests__/__coverage__
__tests__/__coverage__/*

# IDE Specific
.idea

# Compiled
public

# Files to be ingnored
.env
package-lock.json
