# Node Modules
node_modules

# Snapshots & Coverage Files
coverage
__tests__/__snapshots__/
__tests__/__coverage__/*

# IDE Specific
.idea

# Compiled
public

# Files to be ingnored
.env
package-lock.json
